--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
transformers
huggingface-hub
accelerate
sentence-transformers
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
